.elemental {
  width: 120%;
  margin-left: auto;
  margin-right: auto;
}
#left {
  width: 3%;
  position: absolute;
  left: 500px;
  top: 200px;
}
#right {
  width: 3%;
  position: absolute;
  right: 500px;
  top: 200px;
}
table {
  width: 13%;
  margin-left: auto;
  margin-right: auto;
}
#left,
#right {
  cursor: pointer;
  border: none;
}
.logo {
  width: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
  font-family: monospace;
}
h6 {
  margin-left: 500px;
}

.monsterName {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-top: 15px;
}
.sumbitButton {
  position: relative;
  left: 48%;
}
.monsterAttack {
  width: 65px;
}
.attackImg {
  width: 55px;
}

.defenseImg {
  width: 55px;
}
.monsterDefense {
  width: 65px;
}
Container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
