.elemental {
  padding-top: 20px;
  width: 80%;
}
#left {
  width: 3%;
  position: absolute;
  left: 500px;
  top: 200px;
}
#right {
  width: 3%;
  position: absolute;
  right: 500px;
  top: 200px;
}
table {
  width: 13%;
  margin-left: auto;
  margin-right: auto;
}
#left,
#right {
  cursor: pointer;
  border: none;
}
.logo {
  width: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
  font-family: monospace;
}
h6 {
  margin-left: 430px;
}

.monsterName {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-top: 15px;
}
.sumbitButton {
  position: relative;
  left: 48%;
}
.monsterAttack {
  width: 65px;
  margin-left: -15px;
}
.attackImg {
  width: 45px;
  margin-left: -5px;
}

.defenseImg {
  width: 45px;
}
.monsterDefense {
  width: 65px;
  margin-left: -10px;
}

.form {
  margin-top: -20px;
}
.block-example {
  height: 22rem;
  background-color: #eee;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.searcImg {
  height: 15px;
  width: 15px;
}
.monstersName {
  margin-top: 15px;
  margin-bottom: -10px;
  margin-left: 473px;
}
.elementsImg {
  width: 45px;
}
